.Square {
  height: 140px;
  width: 140px;
  background-color: #1f3641;
  margin: 0.5em 0.5rem 0.5rem 0.5rem;
  border-radius: 15px;
  box-shadow: inset 0px -8px 0px #10212a;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Xwon {
  height: 140px;
  width: 140px;
  background-color: #31c3bd;
  margin: 0.5em 0.5rem 0.5rem 0.5rem;
  border-radius: 15px;
  box-shadow: inset 0px -8px 0px #10212a;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: -100;
}

.Xwon img {
  filter: brightness(0) contrast(100);
}

.Owon {
  height: 140px;
  width: 140px;
  background-color: #f2b137;
  margin: 0.5em 0.5rem 0.5rem 0.5rem;
  border-radius: 15px;
  box-shadow: inset 0px -8px 0px #10212a;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: -100;
}

.Owon img {
  filter: brightness(0) contrast(100);
}

.Square:hover {
  cursor: pointer;
}

.icon {
  margin: 0 auto;
}
.Square-Clicked {
  background-color: black;
}

@media screen and (max-width: 500px) {
  .Square {
    height: 96px;
    width: 96px;
  }

  .icon img {
    height: 40px;
    width: 40px;
  }

  .Xwon {
    height: 96px;
    width: 96px;
  }

  .Owon {
    height: 96px;
    width: 96px;
  }
}
