@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800;900&display=swap");

.GameSelection {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 471px;
  width: 460px;
  margin: 0 auto;
}

.playerOne-Select h1 {
  font-family: "Outfit", sans-serif;
  color: #a8bfc9;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
}

.playerOne-Select h2 {
  font-family: "Outfit", sans-serif;
  color: #a8bfc9;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  opacity: 0.5;
}

.playerOne-Select {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 205px;
  width: 460px;
  border-radius: 15px;
  background-color: #1f3641;
  box-shadow: inset 0px -8px 0px #10212a;
}
.Picker {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #1a2a33;
  height: 72px;
  width: 412px;
  border-radius: 10px;
  margin: 0 auto;
}

.xPick {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 198px;
  height: 54px;
  border-radius: 10px;
  background: rgba(168, 191, 201, 0.05);
}

.xPick:hover {
  cursor: pointer;
}
.xPick img {
  height: 32px;
  width: 32px;
  filter: invert(77%) sepia(0%) saturate(0%) hue-rotate(170deg) brightness(99%)
    contrast(84%);
}

.oPick {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 198px;
  height: 54px;
  border-radius: 10px;
  background: #a8bfc9;
}

.oPick:hover {
  cursor: pointer;
}
.oPick img {
  height: 32px;
  width: 32px;
  filter: invert(10%) sepia(8%) saturate(0%) hue-rotate(158deg) brightness(20%)
    contrast(85%);
}

.vCPU {
  height: 67px;
  width: 460px;
  border-radius: 15px;
  background-color: #ffc860;
  box-shadow: inset 0px -8px 0px #cc8b13;
  border: 0;
  font-family: "Outfit", sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 25px;
  color: #1a2a33;
}

.vCPU:hover,
.vPlayer:hover {
  cursor: pointer;
}

.vPlayer {
  height: 67px;
  width: 460px;
  border-radius: 15px;
  background-color: #65e9e4;
  box-shadow: inset 0px -8px 0px #118c87;
  border: 0;
  font-family: "Outfit", sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 25px;
  color: #1a2a33;
}

@media screen and (max-width: 500px) {
  .GameSelection {
    width: 327px;
    height: 430px;
    margin: 0 auto;
    top: 50%;
    left: 50%;
  }
  .Icons {
    margin-bottom: 1rem;
  }

  .playerOne-Select {
    height: 205px;
    width: 327px;
    margin-bottom: 1.5rem;
  }
  .Picker {
    height: 72px;
    width: 279px;
  }

  .xPick,
  .oPick {
    height: 54px;
    width: 132px;
  }

  .vCPU,
  .vPlayer {
    height: 56px;
    margin-bottom: 1rem;
    width: 327px;
  }
}
