@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800;900&display=swap");

.ModalContainer {
  background: rgba(0, 0, 0, 0.8);
  height: 100vh;
  width: 100vw;
  position: absolute;
}

.Board-Container {
  background: rgba(0, 0, 0, 0.8);
  height: 100vh;
  width: 100vw;
}

.Modal {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #1f3641;
  position: absolute;
  width: 100%;
  height: 266px;
  margin-top: 10rem;
}

.Announce {
  font-weight: bold;
  font-size: 16px;
  text-align: center;
  color: #a8bfc9;
  margin-top: 3rem;
}

.WinnerTitle {
  display: flex;
  justify-content: center;
  align-items: center;
}
/* h1 class for p1 win */

.p1Win {
  color: #31c3bd;
}

/* h1 class for p2 win */

.p2Win {
  color: #f2b137;
}

.p1Win,
.p2Win {
  font-size: 40px;
  font-weight: bold;
  font-family: "Outfit", sans-serif;
  margin-left: 1rem;
}

.Quit-Btn {
  height: 52px;
  width: 76px;
  background-color: #a8bfc9;
  box-shadow: inset 0px -4px 0px #6b8997;
  border-radius: 10px;
  border: 0;
  margin-right: 0.5rem;
}

.Next-Round {
  height: 52px;
  width: 146px;
  background-color: #f2b137;
  box-shadow: inset 0px -4px 0px #cc8b13;
  border-radius: 10px;
  border: 0;
  margin-left: 0.5rem;
}
