.Square {
  height: 140px;
  width: 140px;
  background-color: #1f3641;
  margin: 0.5em 0.5rem 0.5rem 0.5rem;
  border-radius: 15px;
  box-shadow: inset 0px -8px 0px #10212a;
  display: flex;
  justify-content: center;
  align-items: center;
}
/* h1 class for p1 win */
.p1Win {
  color: #31c3bd;
}

/* h1 class for p2 win */

.p2Win {
  color: #f2b137;
}

.Square:hover {
  cursor: pointer;
}

.icon {
  margin: 0 auto;
}
.Square-Clicked {
  background-color: black;
}
