.Square {
  height: 140px;
  width: 140px;
  background-color: #1f3641;
  margin: 0.5em 0.5rem 0.5rem 0.5rem;
  border-radius: 15px;
  box-shadow: inset 0px -8px 0px #10212a;
}

.Square-Clicked {
  background-color: black;
}
